<h1>Cars#show</h1>

<table class="data-table">
  <tr>
    <td>Model</td>
    <td><%= @car.model %></td>
  </tr>
  <tr>
    <td>Producer</td>
    <td><%= @car.producer %></td>
  </tr>
  <tr>
    <td>Decprator</td>
    <td><%= @car.somethink %></td>
  </tr>
</table>